// faq-single-item
.faq-single-item {
    margin-bottom: 40px;
    .content {
        .title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }
}