/*-----------------------------
Client Area
-----------------------------*/

.client-area {
    .single-brand {
        a {
            img {
                filter: opacity(0.6) grayscale(1);
                transition: all 0.3s ease;
            }
            &:hover {
                img {
                    filter: opacity(1) grayscale(0);
                }
            }
        }
    }
}